body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: blanchedalmond;
  color: #333;
}

.container {
  width: 80%;
  margin: 0 auto;
  max-width: 1200px;
}

/* Header Styles */
header {
  background-color:whitesmoke;
  padding: 20px 0;
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .logo {
  display: flex;
  align-items: center;
}

header .logo img {
  height: 50px;
  margin-right: 10px;
}

header .logo h1 {
  margin: 0;
  font-size: 1.5em;
  color: #333;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav ul li {
 
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
 
}

nav ul li a:hover {
  color: #666;
}

/* Main Styles */
main {
  padding: 20px 0;
}

.banner {
  background: url('banner.jpg') no-repeat center center;
  background-size: cover;
  padding: 40px 20px;
  text-align: center;
  color: #fff;
}

.banner h2 {
  margin-top: 0;
  font-size: 2.5em;
}

.banner p {
  max-width: 600px;
  margin: 20px auto;
  line-height: 1.5;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px;
  border-radius: 5px;
}

.features {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px 0;
}

.feature {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  flex: 1;
  min-width: 300px;
  max-width: 30%;
  text-align: center;
}

.feature img {
  width: 100%;
  border-radius: 5px;
}

.feature h2 {
  font-size: 1.5em;
}

.feature p {
  margin: 20px 0;
  line-height: 1.5;
}

.feature a {
  display: inline-block;
  padding: 10px 20px;
  
  text-decoration: none;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.feature a:hover {
  background-color: #666;
}

/* Footer Styles */
footer {
  background-color: #fff;
  color: #333;
  text-align: center;
  padding: 20px 0;
  border-top: 1px solid #ccc;
}

footer img {
  height: 30px;
  margin-bottom: 10px;
}

footer p {
  margin: 0;
}